<header>
  <div class="main">
    <a href="{{ "/" | relURL }}" class="site-logo-link">
      <img src="{{ "images/logo.png" | relURL }}" alt="Logo" class="site-logo" />
      <span class="site-title-text">{{ .Site.Title }}</span>
    </a>
  </div>
  <nav>
    {{ range .Site.Menus.main }}
      <a href="{{ .URL | relURL }}">{{ .Name }}</a>
    {{ end }}

    {{ if eq .Site.Params.mode "toggle" }}
      | <span id="dark-mode-toggle" onclick="toggleTheme()">
        {{ template "feathericon" (dict "UseCDN" .Site.Params.useCDN "Icon" "sun") }}
      </span>
      <script src="{{ "js/themetoggle.js" | relURL }}"></script>
    {{ end }}
  </nav>
</header>
